################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin/
/.vs/BoulevardManagement/v16/Server/sqlite3/storage.ide-wal
/.vs/BoulevardManagement/v16/Server/sqlite3/storage.ide-shm
/.vs/BoulevardManagement/v16/Server/sqlite3/storage.ide
/.vs/BoulevardManagement/v16/Server/sqlite3/db.lock
/.vs/BoulevardManagement/v16/*
/.vs/config
/URF.Repository.Pattern.Ef6/bin/Debug
/URF.Service.Pattern/bin/Debug
/BoulevardManagement.BLL/bin/Debug/*
/BoulevardManagement.BLL/bin/*
/BoulevardManagement.BLL/obj/*
/BoulevardManagement.DTO/bin/Debug/*
/BoulevardManagement.DTO/bin/*
/BoulevardManagement.DTO/obj/*
/BoulevardManagement.Model/bin/Debug/*
/BoulevardManagement.Model/bin/*
/BoulevardManagement.Model/obj/*
/BoulevardManagement.Utilities/bin/Debug/*
/BoulevardManagement.Utilities/bin/*
/BoulevardManagement.Utilities/obj/*
/BoulevardManagement.WebApplication/bin/Debug/*
/BoulevardManagement.WebApplication/bin/*
/BoulevardManagement.WebApplication/obj/*
/BoulevardManagement.WebApplication.Tests/bin/Debug/*
/BoulevardManagement.WebApplication.Tests/bin/*
/BoulevardManagement.WebApplication.Tests/obj/*
/TripleA.Utilities/bin/Debug/*
/TripleA.Utilities/bin/*
/TripleA.Utilities/obj/*
/URF.Repository.Pattern/bin/Debug/*
/URF.Repository.Pattern/bin/*
/URF.Repository.Pattern/obj/*
/URF.Repository.Pattern.Ef6/bin/Debug/*
/URF.Repository.Pattern.Ef6/bin/*
/URF.Repository.Pattern.Ef6/obj/*
/URF.Service.Pattern/bin/Debug/*
/URF.Service.Pattern/bin/*
/URF.Service.Pattern/obj/*
/BoulevardManagement.BLL/bin/Debug/Service.Pattern.dll.config
/BoulevardManagement.BLL/bin/Debug/Repository.Pattern.Ef6.dll.config
/BoulevardManagement.BLL/bin/Debug/Repository.Pattern.dll.config
/BoulevardManagement.Model/bin/Debug/Repository.Pattern.Ef6.dll.config
/BoulevardManagement.Model/bin/Debug/Repository.Pattern.dll.config

/BoulevardManagement.Model/o*.suo
*.user
*.suo
bin
obj
packages
bin/
obj/
Debug/
Release/
/.vs/BoulevardManagement/v16/Server/sqlite3/storage.ide-wal
/.vs/BoulevardManagement/v16/Server/sqlite3/storage.ide-shm
/.vs/BoulevardManagement/v16/Server/sqlite3/storage.ide
/.vs/BoulevardManagement/v16/Server/sqlite3/db.lock
/.vs/config
/URF.Repository.Pattern.Ef6/bin/Debug
/URF.Service.Pattern/bin/Debug
/BoulevardManagement.BLL/bin/Debug/*

/BoulevardManagement.BLL/obj/*
/BoulevardManagement.BLL/bin/Debug/Service.Pattern.dll.config
/BoulevardManagement.BLL/bin/Debug/Repository.Pattern.Ef6.dll.config
/BoulevardManagement.BLL/bin/Debug/Repository.Pattern.dll.config
/BoulevardManagement.Model/bin/Debug/Repository.Pattern.Ef6.dll.config
/BoulevardManagement.Model/bin/Debug/Repository.Pattern.dll.config

/BoulevardManagement.Model/obj/*
/BoulevardManagement.Model/bin/*

/BoulevardManagement.DTO/obj/*
/BoulevardManagement.DTO/bin/*

/BoulevardManagement.WebApplication/obj/*
/BoulevardManagement.WebApplication/bin/*

/URF.Repository.Pattern.Ef6/obj/
/URF.Repository.Pattern.Ef6/bin/debug/*

/URF.Service.Pattern/obj/*
/URF.Service.Pattern/bin/*
/URF.Service.Pattern/bin/*

/TripleA.Utilities/bin/
/URF.Repository.Pattern/bin/
bin/

################################################################################
# New Paths .
################################################################################
/.vs
/packages
/TripleA.Utilities/bin
/URF.Repository.Pattern/bin
/BoulevardManagement.WebApplication/bin
/BoulevardManagement.WebApplication.Tests/bin
/BoulevardManagement.Utilities/bin
/BoulevardManagement.Model/bin
/BoulevardManagement.DTO/bin
/BoulevardManagement.BLL/bin
/URF.Service.Pattern/bin
/URF.Repository.Pattern.Ef6/bin

/TripleA.Utilities/obj
/URF.Repository.Pattern/obj
/BoulevardManagement.WebApplication/obj
/BoulevardManagement.WebApplication.Tests/obj
/BoulevardManagement.Utilities/obj
/BoulevardManagement.Model/obj
/BoulevardManagement.DTO/obj
/BoulevardManagement.BLL/obj
/URF.Service.Pattern/obj
/URF.Repository.Pattern.Ef6/obj
/TripleA.Utilities/obj
/URF.Repository.Pattern.Ef6/obj
/BoulevardManagement.DTO/obj
/BoulevardManagement.Model/obj
/BoulevardManagement.WebApplication/Properties/PublishProfiles.zip
/BoulevardManagement.WebApplication/obj
