@accent: #ef4849 ;
@background: #ffffff;
@base: #f2f2f2;
@border-radius: 0px;
@dark: #000000;
@error: #ff3e3e;
@fallback-texture: none;
@hover-background: #eaeaea;
@hover-gradient: none;
@hover-text-color: #333333;
@image-folder: "https://kendo.cdn.telerik.com/2020.2.617/styles/Fiori";
@info: #38a4ff;
@inverse: #000000;
@light: #ffffff;
@normal-background: #ffffff;
@normal-gradient: none;
@normal-text-color: #333333;
@primary: #007cc0;
@secondary: #f2f2f2;
@selected-background: #ef4849 ;
@selected-gradient: none;
@selected-text-color: #ffffff;
@series-a: #008fd3;
@series-b: #99d101;
@series-c: #f39b02;
@series-d: #f05662;
@series-e: #c03c53;
@series-f: #acacac;
@success: #63b887;
@tertiary: #99d101;
@texture: none;
@theme-colors: {
    primary: #3f51b5; 
    secondary: #ffffff; 
    tertiary: #4caf50; 
    info: #2196f3; 
    success: #4caf50; 
    warning: #ff9800; 
    error: #f44336; 
    dark: #000000; 
    light: #ffffff; 
    inverse: #000000; 
};
@warning: #fbc43a;
@import "type-fiori.less";