<div id="kt_header_mobile" class="header-mobile header-mobile-fixed">
    <!--begin::Logo-->
    <a href="/">
        <img alt="Logo" src="~/Content/img/uossm-01.png" style="height:45px!important;" />
    </a>
    <!--end::Logo-->
    <!--begin::Toolbar-->
    @{ Html.RenderPartial("_Toolbar"); }
    <!--end::Toolbar-->
</div>