
<!-- begin:: Quick Panel -->
<!--<div id="kt_quick_panel" class="kt-offcanvas-panel">
    <div class="kt-offcanvas-panel__nav">
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#kt_quick_panel_tab_notifications" role="tab">UnRead</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_quick_panel_tab_actions" role="tab">Read</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#kt_quick_panel_tab_settings" role="tab">ALL</a>
            </li>
        </ul>
        <button class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_notifications_close"><i class="flaticon2-delete"></i></button>
    </div>
    <div class="kt-offcanvas-panel__body">
        <div class="tab-content">
            <div class="tab-pane fade show kt-offcanvas-panel__content kt-scroll active" id="kt_quick_panel_tab_notifications" role="tabpanel">

                <div class="kt-notification-v2" id="unread-notificationsmenu">


                </div>
                <a href="@Url.Action("Notifications","Home",new {category="UNREAD" })" class="btn btn-block btn-outline-primary">See More</a>
            </div>
            <div class="tab-pane fade kt-offcanvas-panel__content kt-scroll" id="kt_quick_panel_tab_actions" role="tabpanel">
                <div class="kt-notification-v2" id="read-notificationsmenu">


                </div>
                <a href="@Url.Action("Notifications","Home",new {category="READ" })" class="btn btn-block btn-outline-primary">See More</a>

            </div>
            <div class="tab-pane fade kt-offcanvas-panel__content kt-scroll " id="kt_quick_panel_tab_settings" role="tabpanel">
                <div class="kt-notification-v2" id="notificationsmenu">


                </div>
                <a href="@Url.Action("Notifications","Home",new {category="ALL" })" class="btn btn-block btn-outline-primary">See More</a>
            </div>
        </div>
    </div>
</div>-->

<!-- end:: Quick Panel -->